@import url(https://fonts.google.com/specimen/Kumbh+Sans);
body {
  background-color: rgba(167, 159, 159, 0.404);
}

.container {
  height: 100%;
  display: grid;
  flex-direction: row;
  justify-content: space-evenly;
  font: 200% sans-serif;
  grid-column: 2/4;
  grid-row: 3/4;
  list-style: none;
}
.container li a {
  background: rgba(123, 193, 173, 0.15);
  box-shadow: 0 9px 32px 0 rgba(56, 58, 92, 0.513);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 5px;
  border: 1, 5px solid rgba(255, 255, 255, 0.315);
  text-decoration: none;
}

#nav ul {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}

#nav ul a {
  text-decoration: none;
  font-size: 100%;
  background: rgba(123, 193, 173, 0.15);
  box-shadow: 0 9px 32px 0 rgba(56, 58, 92, 0.513);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 5px;
  border: 1, 5px solid rgba(255, 255, 255, 0.315);
}

.presentation {
  background: #3a857f;
  background: radial-gradient(circle, #3a857f 58%, #2f3ff7 100%);
  align-content: center;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
}

.presentation_text p {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.photo_perso {
  grid-column: 1/2;
  grid-row: 1/4;
  width: 100%;
}

.photo_perso img:hover {
  transform: scale(0.75);
  opacity: 0, 8;
  transition: all 0.2s;
}

.presentation_text {
  grid-column: 2/5;
  grid-row: 1/3;
  color: #000;
  font-size: 250%;
  height: 100px;
}

#titre {
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 5vh;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

.fond {
  height: 750px;
  width: 100%;
  background-image: url("/image/pexels-pixabay-270348.jpg");
  background-size: 100%;
  border-radius: 5px;
  margin-top: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titre_page {
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
  font-size: 25px;
  color: white;
}

.background {
  max-width: 1200px;
  min-height: 70vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.background img {
  max-width: 100%;
  height: 100px;
}

.array_1 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.array_2 {
  grid-column: 3/5;
  grid-row: 2/4;
}

.array_2 p {
  margin-left: 25%;
}

.array_3 {
  grid-column: 5/7;
  grid-row: 2/4;
}

.array_3 p {
  margin-left: 25%;
}

.title_1 {
  grid-column: 1/2;
  grid-row: 1;
}

.title_1 h2 {
  margin-left: 105px;
}

.title_2 {
  grid-column: 2/4;
  grid-row: 1;
}

.title_2 h2 {
  margin-left: 75%;
}

.title_3 {
  grid-column: 4/6;
  grid-row: 1;
}

.title_3 h2 {
  margin-left: 75%;
}

#image_competence img {
  max-width: 100%;
  height: 100px;
}

#img-php {
  grid-column: 3;
  grid-row: 3/4;
}

#img-html {
  grid-column: 4;
  grid-row: 3/4;
}

#img-js {
  margin-top: 0;
  grid-column: 4;
  grid-row: 4/5;
}

#img-adobe {
  margin-top: 0;
  grid-column: 4;
  grid-row: 4/5;
}

#img-photoshop {
  margin-top: 0;
  grid-column: 6/7;
  grid-row: 3/4;
}

#img-figma {
  margin-top: 0;
  grid-column: 5/6;
  grid-row: 3/4;
}

.test_beta {
  grid-row: 1/6;
  grid-column: 1/3;
  border: 1px solid;
  border-color: rgba(21, 25, 54, 0.555);
  border-radius: 5px;
}

.test_beta2 {
  grid-row: 1/6;
  grid-column: 3/5;
  border: 1px solid;
  border-color: rgba(21, 25, 54, 0.555);
  border-radius: 5px;
}

.test_beta3 {
  grid-row: 1/6;
  grid-column: 5/7;
  border: 1px solid;
  border-color: rgba(21, 25, 54, 0.555);
  border-radius: 5px;
}

.projet_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 5%;
  height: 65vh;
  width: 0 auto;
  gap: 5px;
  background-color: palegreen;
}
.projet_1 img {
  max-width: 100%;
  height: 0 auto;
  grid-row: 1/4;
  grid-column: 1/2;
}
.projet_1 #img-projet1 {
  max-width: 100%;
  height: 100%;
  grid-row: 1/8;
  grid-column: 2/4;
}

.projet_1 p {
  grid-row: 3/8;
  grid-column: 5/8;
  font-size: 25px;
}

.projet_1 h2 {
  grid-row: 5/8;
  grid-column: 5/8;
  font-size: 25px;
  text-decoration: none;
  font-style: none;
  list-style: none;
}

.projet_1 h1 {
  grid-row: 1/3;
  grid-column: 5/9;
  font-size: 500%;
}

.projet_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 5%;
  height: 65vh;
  width: 0 auto;
  gap: 5px;
  background-color: palegreen;
}
.projet_2 img {
  max-width: 100%;
  height: 0 auto;
  grid-row: 1/4;
  grid-column: 1/2;
}
.projet_2 #img-projet2 {
  max-width: 100%;
  height: 100%;
  grid-row: 1/8;
  grid-column: 2/4;
}

.projet_2 p {
  grid-row: 3/8;
  grid-column: 5/8;
  font-size: 25px;
}

.projet_2 h2 {
  grid-row: 5/8;
  grid-column: 5/8;
  font-size: 25px;
  text-decoration: none;
  font-style: none;
  list-style: none;
}

.projet_2 h1 {
  grid-row: 1/3;
  grid-column: 5/9;
  font-size: 500%;
}

.partie_1 {
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
.partie_1 img {
  height: 100%;
  width: 100%;
  margin-top: 10%;
}
.partie_1 .partie_1 h2 {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
