.background{
    max-width: 1200px;
    min-height: 90vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.array_1{
    grid-column: 1;
    grid-row: 2/ 3 ;
   
}
    .array_1 p {
        margin-left: 25%;
        
    }

.array_2{
    grid-column: 2;
    grid-row: 2 /4;
}
    .array_2 p {
        margin-left: 25%;
    }

.array_3{
    grid-column: 3;
    grid-row: 2 /4;
    } .array_3 p {
        margin-left: 25%;
    }

#title_1{
    grid-column: 1;
    grid-row: 1;
    
}

.fond{
    height: 700px;
    width: 100%;
    background-image: url("/image/pexels-pixabay-270348.jpg");
    background-size: 100%;
  font-size: 16px;
}