body  {
    background-color: rgba(167, 159, 159, 0.404);
    font-family: KumbhSans-Regular;
}

.container{
    height:  100%;
    display: grid;
    flex-direction: row;
    justify-content: space-evenly;
    font: 200% sans-serif;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    list-style: none;

    li a {
        background: rgba( 123, 193, 173, 0.15 );
        box-shadow: 0 9px 32px 0 rgba(56, 58, 92, 0.513);
        backdrop-filter: blur( 9.5px );
        -webkit-backdrop-filter: blur( 15.5px );
        border-radius: 5px;
        border: 1,5px solid rgba(255, 255, 255, 0.315);
        text-decoration: none;
    }
}

#nav ul {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
}

#nav ul a {
    text-decoration: none;
    font-size: 175%;
    background: rgba( 123, 193, 173, 0.15 );
    box-shadow: 0 9px 32px 0 rgba(56, 58, 92, 0.513);
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 5px;
    border: 1,5px solid rgba(255, 255, 255, 0.315);
    color: black;
    @include xl{
        font-size: 350%;
    }
}



