@mixin bg-center($url) {
    background: url($url);
    background-size: cover;
    background-position: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin xl {
    @media screen and (max-width: 1200px) {
        @content;
    }
}