@mixin bg-center($url) {
    background-size: cover;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
    
}

@mixin partie-projet {
    height: auto;
    width: 90%;
    margin: 15% auto;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    border: 1px solid rgb(0, 225, 255);
    img{ 
        height: 0 auto;
        width:100%;
        margin-top: 2%;
    }
    
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
@media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
@media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
@media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
@media (min-width: 1800px) { @content; }
}

